{% if page.comments and site.disqus_shortname %}
  <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_shortname }}';
    (function(d, s) {
      var j, e = d.getElementsByTagName(s)[0];
      if (typeof LivereTower === 'function') { return; }
      j = d.createElement(s);
      j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
      j.async = true;
      e.parentNode.insertBefore(j, e);
    })(document, 'script');
    (function(d, s) {
      var i, ele = d.getElementById('disqus_thread');
      i = d.createElement(s);
      i.setAttribute('id','lv-container');
      i.setAttribute('data-id','city');
      i.setAttribute('data-uid',disqus_shortname);
      ele.parentNode.appendChild(i);
    })(document, 'div');
  </script>
{% endif %}